:root {
    --bar-size: 0%; 
}
body {
    font-family: 'Raleway';
    height: 100%;
    margin: 0;
}
a {color:white}
a:hover {text-decoration: none;}

.container {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

.main {
    margin-top: 200px;
    text-align: center;
}
.logo {
    text-align: center;
}

p {
    margin: 48px 8px 0 20px;
    color: #fff;
    font-size: 16px;
    line-height: 150%;  
}

.bg1 {
    background-color: #0077B6;
}
.bg2 {
    background-color:#2A9D8F;
}
.bg3 {
    background-color:#E9C46A;
}
.bg4 {
    background-color:#F4A261;
}
.bg5 {
    background-color:#E76F51;
}
.bg6 {
    background-color:#AE2012;
}
.bg7 {
    background-color:#BB3E03;
}
.bg8 {
    background-color:#CA6702;
}
.bg9 {
    background-color:#CA6702;
}
.bg10 {
    background-color:#EE9B00;
}
.bg11 {
    background-color:#E9D8A6;
}
.bg12 {
    background-color:#94D2BD;
}
.bg13 {
    background-color:#0A9396;
}
.bg14 {
    background-color:#005F73;
}
.bg15 {
    background-color:#001219;
}


/* LOADING */
.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin:-15px 0 0 -15px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border-radius: 100%;
    clip-path: circle(50%);
    
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.bar {
    width: 100%;
    height: 20%;
}
.rotate {
    transform: rotate(360deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); 
}
.ocean {background-color: #0077B6;}
.grass {background-color:#2A9D8F}
.sun {background-color: #E9C46A}
.tangerine {background-color:#F4A261}
.tomato {background-color:#E76F51}

.loadingBar {
    height: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
} 
.animationOne {animation: oneAnimation 2s ease infinite;}
.animationTwo {animation: twoAnimation 2s ease infinite;}
.animationThree {animation: threeAnimation 2s ease infinite;}
.animationFour {animation: fourAnimation 2s ease infinite;}
.animationFive {animation: fiveAnimation 2s ease infinite;}

@keyframes oneAnimation {
    0% { width: 0%;}
    50% {width: var(--bar-size)}
    100% {width: 0%;}
}
@keyframes twoAnimation {
    0% { width: 0%;}
    60% {width: var(--bar-size)}
    100% {width: 0%;}
}
@keyframes threeAnimation {
    0% { width: 0%;}
    40% {width: var(--bar-size)}
    100% {width: 0%;}
}
@keyframes fourAnimation {
    0% { width: 0%;}
    70% {width: var(--bar-size)}
    100% {width: 0%;}
}
@keyframes fiveAnimation {
    0% { width: 0%;}
    50% {width: var(--bar-size)}
    100% {width: 0%;}
}