body {
    font-family: 'Raleway';
    height: 100%;
    margin: 0;
}
a {color:white}
a:hover {text-decoration: none;}

.container {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

.main {
    margin-top: 200px;
    text-align: center;
}
.logo {
    text-align: center;
}

p {
    margin: 48px 8px 0 20px;
    color: #737373;
    font-size: 16px;
    line-height: 150%;  
}

.bg1 {
    background-color: #264653;
}
.bg2 {
    background-color:#2A9D8F;
}
.bg3 {
    background-color:#E9C46A;
}
.bg4 {
    background-color:#F4A261;
}
.bg5 {
    background-color:#E76F51;
}